.skin-brat {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-shadow: 
    0 0 2px rgba(0, 0, 0, 0.8), 
    0 0 5px rgba(0, 0, 0, 0.4);
  letter-spacing: -1px;
  filter: blur(0.5px);
}

.brat-link-wordWrap {
  position: relative;
  display: inline-block;
}

.brat-link-wordWrap::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #000;
  /* filter: blur(10px); */
  z-index: 0;
  pointer-events: none;
  white-space: nowrap;
}

.brat-link-wordText {
  position: relative;
  z-index: 1;
  color: #000;
}

